---
import "../styles/main.scss";
import "../styles/tailwind.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Hi! I'm Paul Buramensky and that's my page",
  description = "I'm front-end developer who cares about user experience and tries to make the world a better place",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="color-scheme" content="light dark" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="My personal page" />
    <meta property="og:url" content="https://paulbu.com" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://paulbu.com/pics/portrait-1-og.jpg" />
    <meta property="og:image:width" content="968" />
    <meta property="og:image:height" content="504" />
    <meta property="og:locale" content="en" />

    <!-- Fonts -->
    <link rel="stylesheet" href="/fonts/index.css" />
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  // Restore theme from cookie to prevent flashing
  const getCookie = (name: string) => {
    const matches = document.cookie.match(
      new RegExp(
        "(?:^|; )" + name.replace(/([.$?*|{}()[\]\\/+^])/g, "\\$1") + "=([^;]*)",
      ),
    );
    return matches ? matches[1] : undefined;
  };

  const theme = getCookie("color-scheme");
  if (theme) {
    document.documentElement.setAttribute("data-color-scheme", theme);
  } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    document.documentElement.setAttribute("data-color-scheme", "dark");
  }
</script>
